<h1>{{title}}</h1>


Upload an image file to send for recognition:
<br>
<form action="upload" method="post"> ...
<input type="file" name="fileToUpload" id="fileToUpload">
<input type="submit" value="Upload Image" name="submit">
</form>