<h1>Image Recognition Result</h1>
<br>
Possible tags for the image are:
<br>
{{resultString}}
<br>
<button type="button" onclick="location.href='https://calm-sea-53445.herokuapp.com//test_file_upload' ">Go back</button> 
<a href='/test_file_upload'>Go Back</a>